 /*CSS by Nayan*/

.body{
	text-align: center;
	background-color: #F0FFFF;

}

.header {
	min-height: 100px; 
	
}

.web_address{
	
}


.contact{
	
	text-decoration: none;
	background-color: #FFF8DC;
	text-align: center;
	color: #6A5ACD;
	border: 5px dashed ;
	margin: 0;
	padding:0;
}

a {
    text-decoration: none !important;
    font-size: 28px;
}

